
<section>
<div id="hero" class="container-fluid">
    <h1 class="fw-bold display-6">Bienvenidos a ORT Airlines</h1>
</div>
<button class = "btn btn-outline-primary btn-lg w-100">
    @Html.ActionLink("Ver todos los vuelos", "ListarVuelos", "Vuelo")
</button>
</section>