@using Dominio;


@{
	<div class="container">
		<h2 class="mt-5 m-2">Registrar nuevo cliente</h2>
		<form class="m-3" id="registroForm" action="/Registro/RegistrarCliente" method="post">
			<div class="mb-3">
				<label for="nombreRegistro" class="form-label">Nombre completo</label>
				<input type="text" class="form-control" name="Nombre" required>
			</div>

			<div class="mb-3">
				<label for="nacionalidadRegistro" class="form-label">Nacionalidad</label>
				<input type="text" class="form-control" name="Nacionalidad" required>
			</div>

			<div class="mb-3">
				<label for="correoRegistro" class="form-label">Correo</label>
				<input type="email" class="form-control" name="Correo" required>
			</div>
			<div class="mb-3">
				<label for="cedulaRegistro" class="form-label">Cédula</label>
				<input type="number" class="form-control" name="Cedula" required minlength="8">
			</div>
			<div class="mb-3">
				<label for="passRegistro" class="form-label">Contraseña</label>
				<input type="password" class="form-control" name="Pass" required minlength="8">
			</div>
			<div class="mb-3">
				<label for="pass2Registro" class="form-label">Repetir contraseña</label>
				<input type="password" class="form-control" required minlength="8">
			</div>
			<button type="submit" class="btn btn-primary">Confirmar</button>
			<a class="btn btn-primary" href="/LogIn/VerInicioSesion">Volver</a>
		</form>
		@{
			if (ViewBag.Error!=null)
			{
				<div class="alert alert-danger" role="alert">
					<p>@ViewBag.Error</p>
				</div>
			}
		}
	</div>



}
