@using Dominio;


@{
    <h2>Registrar nuevo cliente</h2>
    <form id="registroForm">
        <div class="mb-3">
            <label for="nombreCompleto" class="form-label">Nombre completo</label>
            <input type="text" class="form-control" id="nombreCompleto" name="NombreCompleto" required>
        </div>

        <div class="mb-3">
            <label for="nacionalidad" class="form-label">Nacionalidad</label>
            <input type="text" class="form-control" id="nacionalidad" name="Nacionalidad" required>
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="email" class="form-control" id="exampleInputEmail1" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputCedula" class="form-label">Cédula</label>
            <input type="number" class="form-control" id="exampleInputCedula" required minlength="8">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" required minlength="8">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repetir contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword2" required minlength="8">
        </div>
        <button type="submit" class="btn btn-primary">Confirmar</button>
    </form>

    

}
