@using Dominio;


@{
    <div class="container">
        <h2 class="mt-5 m-2">Registrar nuevo cliente</h2>
        <form class="m-3" id="registroForm" action="/Usuario/RegistrarUsuario" method="post">
            <div class="mb-3">
                <label for="nombreCompleto" class="form-label">Nombre completo</label>
                <input type="text" class="form-control" id="nombreCompleto" name="Nombre" required>
            </div>

            <div class="mb-3">
                <label for="nacionalidad" class="form-label">Nacionalidad</label>
                <input type="text" class="form-control" id="nacionalidad" name="Nacionalidad" required>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" name="Correo" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputCedula" class="form-label">Cédula</label>
                <input type="number" class="form-control" id="exampleInputCedula" name="Cedula" required minlength="8">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="Pass" required minlength="8">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Repetir contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword2" required minlength="8">
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
        <div class="mt-2 text-center text-danger">
            <p>@ViewBag.Error</p>
        </div>
    </div>

    

}
