html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  #hero {
      height: 80rem; 
  }
}

#hero {
    background: url(/img/amancer.jpg);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;/*
    background-attachment: fixed;*/
    height: 100vh;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}